.list {
    margin: auto;
    max-width: 30em;
}

.todo-input {
    resize: none;
    width: 100%;
}

.todo-item.done {
    text-decoration: line-through;
    color: lightgrey;
}

.todo-item > span {
    margin-right: 2em;
}